@font-face {
    font-family: Fraunces SemiBold;
    src: url('./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
    font-family: Fraunces Soft;
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
    font-family: Manrope Regular;
    src: url('./assets/fonts/manrope/static/Manrope-Regular.ttf');
}

@font-face {
    font-family: Manrope;
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: auto;
    background-color: #24053E;
    position: relative;
}

.bottom {
    position: relative;
    width: 100%;
    height: 100px;
}

.bottom::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background-color: #24053E; 
    border-radius: 50% / 0 0 30px 30px; 
    z-index: -1; 
    }

.image-container {
    position: absolute;
    width: 320px;
    height: 184px;
    left: 50%; 
    transform: translateX(-50%);
    margin: auto;
    background-image: url('./assets/images/image-hero.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

header a {
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 3px solid #44FFA1;
    padding-bottom: 3px;
}

h1 {
    font-family: Fraunces SemiBold;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}

h1 span {
    border-bottom: 3px solid #44FFA1;
    padding-bottom: 2px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #44FFA1;
    font-family: Manrope;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    margin: 30px 0px 50px 0px;
    cursor: pointer;
}

button:hover {
    background-color: #24053E;
    color: #44FFA1;
    border: 2px solid #44FFA1;
}

main {
    position: relative;
    top: 100px;
    padding-bottom: 400px;
}

#numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
}

.number {
    color: #24053E;
    font-family: Fraunces SemiBold;
    font-size: 20px;
    border: 1px solid #24053E;
    border-radius: 50%;
    width: 46px;
    height: 48px;
    text-align: center;
    line-height: 10px;
    padding: 20px; 
}

.numb {
    text-align: center;
    padding: 0px 20px;
}

.numb h2 {
    color: #24053E;
    font-family: Fraunces SemiBold;
    font-size: 28px;
    padding: 20px 0px;
}

.text {
    color: #24053E;
    font-family: Manrope Regular;
    font-size: 16px;
    line-height: 2;
}

#image-founder {
    width: 281px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.section-content {
    position: absolute;
    top: 230px;
    background-color: #24053E;
    color: #FFFFFF;
    text-align: center;
    font-family: Manrope Regular;
    font-size: 16px;
    padding: 20px 30px 0px 30px;
    line-height: 2;
}

.section-content h2 {
    font-family: Fraunces SemiBold;
    font-size: 28px;
    padding: 20px 0px;
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    padding: 30px 0px 60px 0px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.footer-icons a:hover img {
    filter: grayscale(100%) brightness(0%);
}


@media screen and (min-width:600px) and (max-width:768px) {
    .image-container {
        width: 514px;
        height: 296px;
    }

    h1 {
        font-size: 60px;
    }

    main {
        top: 200px;
        padding: 50px;
        padding-bottom: 250px;
    }

    .numbers {
        flex-direction: row;
        justify-content: space-between;
    }

    .numb {
        text-align: left;
    }

    .numb h2 {
        font-size: 32px;
    }

    section {
        padding-bottom: 300px;
    }

    .section-content {
        position: absolute;
        width: 70%;
        right: 0;
        top: 150px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-content h2 {
        font-size: 48px;
    }

    #image-founder {
        position: absolute;
        left: 0;
        top: 0;
    }

}

@media screen and (min-width:769px) {
    .head {
        justify-content: space-around;
    }
    
    .image-container {
        width: 767px;
        height: 441px;
    }

    h1 {
        font-size: 80px;
        padding: 0px 450px;
    }

    main {
        top: 400px;
        padding-bottom: 600px;
    }

    #numbers {
        flex-direction: row;
        padding: 0px 120px;
    }

    .number {
        font-size: 24px;
        width: 56px;
        height: 56px;
    }

    .numb h2 {
        font-size: 32px;
    }

    section {
        padding-bottom: 100px;
    }

    .section-content {
        position: absolute;
        width: 55%;
        right: 10%;
        top: 150px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-content h2 {
        font-size: 48px;
    }

    #image-founder {
        width: 477px;
        position: absolute;
        left: 10%;
        top: 0;
    }

}

